/**
* @author Gruppe 8
* @version 1.0
*/

/* Table of Contents
Constants          - variable declaration for colors 
Styling            - individual content styling 
    Player         - music player controls
*/

/* ========== CONSTANTS ============= */

:root {
    --bg-primary: #1e2025;
    --bg-secondary: #212328;
    --bg-tertionary: #3e3f42;
    --text: #ffffffde;
    --contrast: #e74c3c;
    --border-r: 5px;

    --op-h: 87%;
    --op-m: 60%;
    --op-d: 38%;
    --border-r: 5px;
}
/* ========== PLAYER ================ */
#player {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: var(--bg-secondary);
    z-index: 1000;
}

#player .song-info {
    width: 100px;
    margin: 25px;
}

#control {
    margin: 25px;
    text-align: center;
    width: 100%;
    display: flex;
}

#progress-bar-container {
    position: relative;
    width: 100%;
    margin: 20px auto;
    cursor: pointer;
    order: 2;
}

#progress-bar-container .time {
    position: absolute;
    top: 20px;
    margin: 0;
    font-size: 0.9em;
    opacity: var(--op-m);
}
#progress-bar-container .time.right {
    right: 0;
}

#control .buttons {
    width: 290px;
    order: 1;
    flex: none;
    align-self: flex-end;
}
#control button {
    display: inline-block;
    padding: 0;
    height: 52px;
    width: 52px;
}

#control button img {
    position: relative;
    width: 50%;
}

#play-control {
    border: solid 3px white;
    border-radius: 100%;
    background-color: var(--bg-secondary);
    transition: background-color 0.5s ease;
}
#play-control:hover {
    background-color: var(--bg-tertionary);
}

#control .skip,
.extra {
    opacity: var(--op-m);
    transition: opacity 0.5s ease;
}
#control .skip:hover,
.extra:hover {
    opacity: 1;
}

#volume-container {
    margin: 25px;
    display: flex;
    align-items: center;
}
#volume-container button {
    height: 30px;
    width: 30px;
    padding: 0;
    flex: none;
}
#volume-control {
    background: linear-gradient(
        90deg,
        var(--contrast) 30%,
        var(--bg-tertionary) 30%
    );
}

@media only screen and (max-width: 800px) {
    #player {
        height: 200px;
        flex-direction: column;
    }

    #player .song-info {
        text-align: center;
        width: 100%;
        margin: 10px;
    }
    #progress-bar-container {
        order: 1;
    }
    #control .buttons {
        order: 2;
    }
    #control {
        flex-direction: column;
        width: 80%;
        margin: 0;
    }
    #control .buttons {
        width: 100%;
    }
    #volume-container {
        margin: 10px;
    }
}
