/**
* @author Gruppe 8
* @version 1.0
*/

/* Table of Contents
Constants          - variable declaration for colors 
Styling            - individual content styling 
    Player         - music player controls
*/

/* ========== CONSTANTS ============= */

:root {
    --bg-primary: #1e2025;
    --bg-secondary: #212328;
    --bg-tertionary: #3e3f42;
    --text: #ffffffde;
    --contrast: #e74c3c;
    --border-r: 5px;

    --op-h: 87%;
    --op-m: 60%;
    --op-d: 38%;
    --border-r: 5px;
}

/* ========== CONTENT =============== */

#content {
    height: calc(100vh - 100px);
    contain: content;
}
@media only screen and (max-width: 1000px) {
    #content {
        height: calc(100vh - 200px);
    }
}

/* ========== NAVBAR ================ */

#navbar {
    display: block;
    height: 90px;
    margin: 20px;
    font-size: 2em;
    text-align: center;
}
#navbar a {
    margin: 20px;
    text-decoration: none;
    color: var(--text);
}

#searchwrapper {
    display: block;
    margin: 15px auto;
}
/* ========== SONG LIST ============= */
#table-container {
    height: calc(100% - 130px);
    overflow: scroll;
}
#song-table {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    text-align: left;
    border-collapse: collapse;
}
#song-table th {
    color: text;
    opacity: var(--op-m);
    padding: 15px;
    cursor: pointer;
}
#song-table td {
    padding: 15px;
    border-top: solid var(--bg-tertionary) 1px;
}
@media only screen and (max-width: 1000px) {
    #song-table td:nth-child(4),
    #song-table th:nth-child(4) {
        display: none;
    }
}

#songSlider {
    position: relative;
    top: -15px;
}
