/**
* @author Gruppe 8
* @version 1.0
*/

/* Table of Contents
Constants          - variable declaration for colors 
Styling            - individual content styling 
    Player         - music player controls
*/

/* ========== CONSTANTS ============= */

:root {
    --bg-primary: #1e2025;
    --bg-secondary: #212328;
    --bg-tertionary: #3e3f42;
    --text: #ffffffde;
    --contrast: #e74c3c;
    --border-r: 5px;

    --op-h: 87%;
    --op-m: 60%;
    --op-d: 38%;
    --border-r: 5px;
}

/* ===== CONTENT (with navbar) ====== */

#content {
    height: calc(100vh - 100px);
    contain: content;
}
@media only screen and (max-width: 1000px) {
    #content {
        height: calc(100vh - 200px);
    }
}

/* ========== HEADER ================ */

#header {
    height: 60px;
    display: flex;
}
#menu {
    display: inline-block;
    width: 200px;
    margin: 17px 0;
    text-align: center;
}
#menu a {
    margin: 20px;
    text-decoration: none;
    color: var(--text);
}

#searchwrapper {
    display: inline-block;
    margin: 15px auto;
}

#menu img {
    display: none;
    width: 30px;
    margin: 15px;
}

@media only screen and (max-width: 700px) {
    #menu {
        width: 60px;
        height: 60px;
        margin: 0;
    }
    #menu a {
        display: none;
    }
    #menu img {
        display: block;
    }
    #menu:hover a,
    #menu:focus a {
        position: relative;
        display: inline-block;
        width: 70px;
        padding: 15px;
        margin: 0;
        background-color: var(--bg-primary);
        border: 1px solid var(--bg-tertionary);
        z-index: 1000;
    }
}
/* ========== CONTENT CONTAINER====== */

#content-container {
    display: flex;
    height: calc(100% - 60px);
}
/* ========== PLAYLIST LIST ========= */

#playlist-list {
    width: 200px;
    background-color: var(--bg-secondary);
    overflow: scroll;
}
#playlist-list a,
#playlist-list p {
    display: block;
    color: white;
    padding: 15px;
    margin: 0;
    border-top: solid var(--bg-tertionary) 1px;
}
#playlist-list p {
    font-weight: bold;
    opacity: var(--op-m);
    border: none;
}

/* ========== PLAYLIST SONG LIST ==== */
#playlist-songs {
    width: calc(100% - 60px);
    overflow: scroll;
}

#table-container {
    overflow: scroll;
}
#playlist-song-table {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    text-align: left;
    border-collapse: collapse;
    overflow: scroll;
}
#playlist-song-table th {
    color: text;
    opacity: var(--op-m);
    padding: 15px;
    cursor: pointer;
}
#playlist-song-table td {
    padding: 15px;
    border-top: solid var(--bg-tertionary) 1px;
}
@media only screen and (max-width: 1000px) {
    #playlist-song-table td:nth-child(4),
    #playlist-song-table th:nth-child(4) {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    #playlist-song-table td:nth-child(3),
    #playlist-song-table th:nth-child(3) {
        display: none;
    }
}
#songSlider {
    position: relative;
    top: -15px;
}

/* ========== LAYOUT MOBILE ========= */

@media only screen and (max-width: 700px) {
    #content-container {
        flex-direction: column;
    }

    #playlist-list {
        flex: none;
        width: 90%;
        height: 100px;
        margin: 0 auto;
        border: 1px solid var(--bg-tertionary);
    }
    #playlist-list a {
        width: 50%;
        box-sizing: border-box;
        float: left;
        border-top: none;
        border-bottom: solid var(--bg-tertionary) 1px;
    }
    #playlist-list p {
        display: none;
    }

    #playlist-songs {
        width: 100%;
        overflow: scroll;
    }
}
