/**
* @author Gruppe 8
* @version 1.0
*/

/* Table of Contents
Constants          - variable declaration for colors 
Styling             - individual content styling 
    Content         - the main content (without the player)
*/

/* ========== CONSTANTS ============= */

:root {
    --bg-primary: #1e2025;
    --bg-secondary: #212328;
    --bg-tertionary: #3e3f42;
    --text: #ffffffde;
    --contrast: #e74c3c;
    --border-r: 5px;

    --op-h: 87%;
    --op-m: 60%;
    --op-d: 38%;
    --border-r: 5px;
}

/* ========== CONTENT =============== */

#content {
    height: calc(100vh - 100px);
    contain: content;
}
@media only screen and (max-width: 800px) {
    #content {
        height: calc(100vh - 200px);
    }
}
