/**
* @author Gruppe 8
* @version 1.0
*/

/* Table of Contents
Custom Reset        - Resetting default Styles
Constants           - variable declaration for colors and other values that are used more often
Fonts               - Sets default fonts for the webpage
Styling             - preset styling for certain elements
    Select
    Searchbar
    Context Menu

*/

/* ========== RESET ================= */

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #1e2025;
    background-color: var(--bg-primary);
    color: var(--text);
    font-family: "Roboto";
}
a {
    color: var(--contrast);
    cursor: pointer;
}
h2 {
    font-weight: normal;
}
button {
    background: none;
    border: none;
}
button:hover {
    cursor: pointer;
}
button:focus {
    outline: none;
}

::selection {
    color: var(--text);
    background: var(--contrast);
}
::-webkit-scrollbar {
    display: none;
}

/* ========== CONSTANTS ============= */

:root {
    --bg-primary: #1e2025;
    --bg-secondary: #212328;
    --bg-tertionary: #3e3f42;
    --text: #ffffffde;
    --contrast: #e74c3c;

    --op-h: 87%;
    --op-m: 60%;
    --op-d: 38%;
    --border-r: 5px;
}

.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.invisible {
    display: none !important;
}

.highlight {
    color: var(--contrast) !important;
}
.op-h {
    opacity: var(--op-h) !important;
}
.op-m {
    opacity: var(--op-m) !important;
}
.op-d {
    opacity: var(--op-d) !important;
}
.right {
    float: right;
}
.rotate {
    transform: rotate(180deg);
}
/* ========== FONTS ================= */

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.eot");
    src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff"),
        url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.eot");
    src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Roboto-Bold.woff2") format("woff2"),
        url("../fonts/Roboto-Bold.woff") format("woff"),
        url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* ========== Slider =================*/
.slider {
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(
        90deg,
        var(--contrast) 0%,
        var(--bg-tertionary) 0%
    );
    border-radius: 15px;
    border: none;
    height: 10px;
    width: 100%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--contrast);
    border: solid;
    border-width: 1px;
    border-color: var(--bg-secondary);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--contrast);
    border: solid;
    border-width: 1px;
    border-color: var(--bg-secondary);
    cursor: pointer;
}

/* ========== COLOR PICKER ========== */

input[type="color"] {
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    width: 27px;
    height: 27px;
    background-color: var(--bg-tertionary);
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

/* ========== CHECKBOX ============== */
input[type="checkbox"] {
    -webkit-appearance: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: var(--bg-tertionary);
    border-radius: 5px;
    border: 2px solid var(--bg-tertionary);
    transition: background 0.5s ease;
}
input[type="checkbox"]:checked {
    background: var(--contrast);
}
input[type="checkbox"]:checked:after {
    content: "";
    border-left: 3px var(--bg-tertionary) solid;
    border-bottom: 3px var(--bg-tertionary) solid;
    transform: rotate(-50deg) translate(-2px, 3px);
    height: 4px;
    width: 10px;
    display: block;
}

/* ========== SELECT ================ */

select {
    padding: 5px;
    border-radius: 100px;
    border: none;
    background-color: var(--bg-tertionary);
    color: var(--text);
}
select:focus {
    outline: none;
}
option:checked,
option:hover {
    background-color: var(--contrast);
    box-shadow: 0 0 10px 100px var(--contrast) inset;
}

/* ========== SEARCHBAR ============= */

input[type="text"] {
    padding: 5px 20px;
    border-radius: 100px;
    border: none;
    background-color: var(--bg-tertionary);
    color: var(--text);
}
input[type="text"]:focus {
    outline: none;
}

/* ========== CONTEXT MENU ========== */

#context-menu {
    display: none;
    background-color: var(--bg-secondary);
    padding: 5px;
    width: 120px;
    border: solid 1px var(--bg-tertionary);
    z-index: 10000;
}
#context-menu a {
    display: block;
    margin: 5px;
    color: var(--text);
}
#context-menu a:hover {
    color: var(--contrast);
}

/* ========== LOADER ================ */
#loader {
    margin: 0 auto;
    text-align: center;
}
#loader h2 {
    margin: 20px 0 5px 0;
}
#loader-line-container {
    height: 5px;
    width: 30%;
    margin: 0 auto;
    overflow: hidden;
}
#loader-line-container div {
    position: relative;
    width: 50%;
    height: 100%;
    background-color: var(--contrast);
    animation-name: loader-anim;
    animation-duration: 1s;
    /* animation-direction: alternate; */
    animation-timing-function: cubic-bezier(0.6, 0, 0.6, 0);
    animation-iteration-count: infinite;
}

@keyframes loader-anim {
    0% {
        left: -50%;
    }
    50% {
        left: 100%;
    }
    100% {
        left: -50%;
    }
}

/* ========== SVG =================== */

.stroke {
    fill: none;
    stroke: var(--text);
    stroke-width: 30;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    transition: stroke 0.5s ease;
}

.fill {
    fill: var(--text);
    transition: fill 0.5s ease;
}
