/**
* @author Gruppe 8
* @version 1.0
*/

/* Table of Contents
Styling             - individual content styling 
    Header          - the header containing navbar and searchbar
*/

/* ========== HEADER ================ */

#header {
    height: 60px;
    display: flex;
}
#menu {
    display: flex;
    text-align: center;
}
#settings-btn {
    padding: 15px;
    text-decoration: none;
    z-index: 999999;
}
#settings-btn svg {
    height: 100%;
}

#searchwrapper {
    display: inline-block;
    margin: 15px auto;
}
#searchbar {
    width: 70%;
    box-sizing: border-box;
}
#searchtag {
    width: 25%;
    box-sizing: border-box;
}
