/**
* @author Gruppe 8
* @version 1.0
*/

/* Table of Contents
Styling             - individual content styling 
    Content         - the main content (without the player)
    Content cont    - the container holding the playlist list and the playlist songlist
    Playlist list   - a list displaying all playlists
    Pl songlist     - a table containing songs from a selected playlist
    Layout mobile   - media query for small screens to realign content
*/

/* ========== CONTENT =============== */

#content {
    position: absolute;
    height: 100%;
    width: 100%;
    contain: content;
}

/* ========== CONTENT CONTAINER====== */

#content-container {
    display: flex;
    /* 60 for header and 100 for the player */
    height: calc(100% - (60px + 100px));
}
@media only screen and (max-width: 900px) {
    #content-container {
        /* 60 for header and 200 for the player */
        height: calc(100% - (60px + 200px));
    }
}

#playlist-title {
    text-align: center;
}
/* ========== PLAYLIST LIST ========= */

#playlist-list {
    min-width: 200px;
    background-color: var(--bg-secondary);
    overflow-y: auto;
}
#playlist-list a,
#playlist-list p {
    display: block;
    color: var(--text);
    padding: 15px;
    margin: 0;
    border-bottom: solid var(--bg-tertionary) 1px;
}
#playlist-list p {
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#playlist-folder-switch {
    width: 100%;
}

#playlist-folder-switch a {
    width: 50%;
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    background-color: var(--bg-secondary);
    transition: background-color 0.5s ease;
}
#playlist-folder-switch a.active {
    color: var(--text);
    background-color: var(--bg-tertionary);
}
/* ========== PLAYLIST SONG LIST ==== */
#table-container {
    width: calc(100% - 60px);
    padding-bottom: 5em;
    overflow: auto;
}
/* ========== LAYOUT MOBILE ========= */

@media only screen and (max-width: 800px) {
    #content-container {
        flex-direction: column;
    }

    #playlist-folder-switch {
        float: left;
        width: 50%;
    }
    #playlist-folder-switch a.active {
        color: var(--contrast);
        background-color: inherit;
        transition: color 0.5s ease;
    }
    #playlist-list {
        flex: none;
        width: 100%;
        height: 100px;
    }
    #playlist-list a {
        width: 50%;
        box-sizing: border-box;
        float: left;
        border-top: none;
        border-bottom: solid var(--bg-tertionary) 1px;
        text-align: center;
    }

    #table-container {
        width: 100%;
    }
}
