/**
* @author Gruppe 8
* @version 1.0
*/

/* Table of Contents
Constants          - variable declaration for colors 
Styling            - individual content styling 
    Player         - music player controls
        songinfo
        control
        volume
    Current slist  - a list containing the current list of songs that is played
*/

/* ========== CONSTANTS ============= */

:root {
    --bg-primary: #1e2025;
    --bg-secondary: #212328;
    --bg-tertionary: #3e3f42;
    --text: #ffffffde;
    --contrast: #e74c3c;
    --border-r: 5px;

    --op-h: 87%;
    --op-m: 60%;
    --op-d: 38%;
    --border-r: 5px;
}
/* ========== PLAYER ================ */
#player {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    background-color: var(--bg-secondary);
    z-index: 1000;
    height: 100px;
    transition: height 0.5s ease;
}

.songlist-active {
    height: 100% !important;
}
/* ********** song info ************* */
#player .song-info {
    width: 160px;
    margin: 0 20px;
}

/* ********** control *************** */
#control {
    flex-grow: 4;
    text-align: center;
    display: flex;
    margin: 10px 20px;
}

#progress-bar-container {
    position: relative;
    width: 100%;
    margin: 20px auto;
    cursor: pointer;
    order: 2;
}

#progress-bar-container .time {
    position: absolute;
    top: 20px;
    margin: 0;
    font-size: 0.9em;
    opacity: var(--op-m);
}
#progress-bar-container .time.right {
    right: 0;
}

#control .buttons {
    width: 290px;
    order: 1;
    flex: none;
    align-self: flex-end;
}
#control button {
    display: inline-block;
    padding: 0;
    height: 52px;
    width: 52px;
}

/* ********** volume **************** */
#volume-container {
    display: flex;
    align-items: center;
    margin: 0 20px;
}
#volume-container button {
    height: 30px;
    width: 30px;
    padding: 0;
    flex: none;
}

/* for smaller screens */
@media only screen and (max-width: 900px) {
    #player {
        min-height: 200px;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    #player .song-info {
        text-align: center;
        width: 100%;
        flex-grow: unset;
    }
    #control {
        flex-direction: column;
        width: 80%;
        margin: 0;
        flex-grow: unset;
    }
    #progress-bar-container {
        order: 1;
    }
    #control .buttons {
        order: 2;
    }
    #control .buttons {
        width: 100%;
    }
    #volume-container {
        margin: 10px;
        flex-grow: unset;
    }
}
/* for super small screens */
@media only screen and (max-width: 350px) {
    #control {
        width: 100%;
    }
    #control .extra {
        display: none;
    }
    #player .song-info {
        white-space: nowrap;
        overflow-x: scroll;
    }
    #control .buttons {
        white-space: nowrap;
    }
}

/* ========== SVG STYLING =========== */

#control button svg {
    position: relative;
    width: 50%;
}
#play-control {
    border: solid 3px var(--text);
    border-radius: 100%;
    background-color: var(--bg-secondary);
    transition: background-color 0.5s ease;
}
#play-control:hover {
    background-color: var(--bg-tertionary);
}
#play-svg path {
    fill: var(--contrast);
}
#pause-svg line {
    stroke: var(--contrast);
    stroke-width: 48.0024;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

#control .skip,
.extra {
    opacity: var(--op-m);
    transition: opacity 0.5s ease;
}
#control .skip:hover,
.extra:hover {
    opacity: 1;
}
#control .active {
    opacity: 1;
}
#control .active .stroke {
    stroke: var(--contrast);
}
#control .active .fill {
    fill: var(--contrast);
}
/* ========== CURRENT SONGLIST ====== */

#expand-player-list {
    height: 20px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    transition: transform 0.5s ease;
}
#expand-player-list polyline {
    fill: none;
    stroke: var(--text);
    stroke-width: 30;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

#player-playlist {
    display: none;
    width: 100%;
    height: calc(100% - 100px);
    overflow: scroll;
    transition: height 0.5s ease;
}

#visualizer {
    height: 200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#player-playlist tbody tr:first-child {
    color: var(--contrast);
}
@media only screen and (max-width: 900px) {
    #player-playlist {
        height: calc(100% - 200px);
    }
}
