/**
* @author Gruppe 8
* @version 1.0
*/

/* Description
Holds the styling for the song list
*/

/* Table of Contents
Song list           - styling for the song table
Playlist title      - the title above the song list including the playlist options
*/

/* ========== SONG LIST ============= */
#table-container {
    height: 100%;
    overflow: auto;
}
.song-table {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    text-align: left;
    border-collapse: collapse;
}
.song-table th {
    opacity: var(--op-m);
    padding: 15px;
    cursor: pointer;
}
.song-table tbody tr {
    transition: background-color 0.3s ease, color 0.3s ease,
        box-shadow 0.5s ease;
}
.song-table tbody tr:hover {
    background-color: var(--bg-secondary);
    color: var(--contrast);
    cursor: pointer;
}
.song-table td {
    padding: 15px;
    border-top: solid var(--bg-tertionary) 1px;
}

.song-table tr.active-table-item {
    background-color: var(--bg-tertionary) !important;
    box-shadow: #00000090 0 0 7px 0px;
}

@media only screen and (max-width: 1000px) {
    .song-table td:nth-child(4),
    .song-table th:nth-child(4) {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .song-table td:nth-child(3),
    .song-table th:nth-child(3) {
        display: none;
    }
}

/* ========== PLAYLIST TITLE ======== */

#playlist-title-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#playlist-title {
    margin: 15px;
}

#playlist-options,
#other-table-options {
    display: flex;
}
#playlist-options a,
#other-table-options a {
    margin: 15px;
    width: 25px;
    height: 25px;
}
#playlist-option-delete path {
    fill: var(--contrast);
}

#playlist-option-rename:hover,
#playlist-option-delete:hover {
    animation-name: wiggle;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
#table-add-selected:hover {
    animation-name: zoom;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

/* The animation code */
@keyframes wiggle {
    0% {
        transform: rotate(00deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    70% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* The animation code */
@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
